<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyang.webadmin.persistence.mapper.MenuMapper">
	
	
	<!-- 查询所有菜单 -->
	<select id="findMenus" resultType="menu" >
		SELECT
			*
		FROM T_MENU a
	</select>
	
	<insert id="save">
	    insert into T_MENU 
	    (id, sort, parent_id, name, href, is_show, permission, icon)
	    values
	    (#{id}, #{sort}, #{parentId}, #{name}, #{href}, #{isShow}, #{permission}, #{icon})
	</insert>
	
	<delete id="delete">
	     delete from T_MENU
	     where 
	     id=#{0}
	</delete>
	
	<delete id="clearRoleMenu">
	     delete from T_ROLE_MENU
	     where 
	     menu_id=#{0}
	</delete>
	
	
	<select id="findChildren" resultType="menu" >
		SELECT
			*
		FROM T_MENU a where parent_id=#{0} order by sort
	</select>
	
	<select id="findAllChildren" resultType="menu" >
		(SELECT
			a.*
		FROM T_MENU a where a.parent_id=#{0} order by a.sort) UNION (SELECT
			b.*
		FROM T_MENU a LEFT JOIN T_MENU b on b.parent_id=a.id where a.parent_id=#{0} order by a.sort)
	</select>
	
	<select id="findMaxId" resultType="string" >
		select max(id) from T_MENU where parent_id=#{0};
	</select>
	
	<select id="findDisplayChildren" resultType="menu" >
		SELECT
			*
		FROM T_MENU a where parent_id=#{0} and is_show=1 order by sort
	</select>
	
	<select id="findById" resultType="menu" >
		SELECT
			*
		FROM T_MENU a where id=#{0}
	</select>
	
	<select id="findByUsername" resultType="menu" >
select a.* from T_MENU a LEFT JOIN T_MENU b on b.id=a.parent_id JOIN T_ROLE_MENU c on c.menu_id=a.id JOIN T_ROLE d on d.id=c.role_id JOIN T_USER_ROLE e ON
e.role_id = d.id JOIN T_USER f on f.id=e.user_id and f.username=#{0}
	</select>
	
	
	<update id="update">
	    update T_MENU set 
		    sort = #{sort},
		    parent_id = #{parentId},
		    name = #{name},
		    href = #{href},
		    is_show = #{isShow},
		    icon = #{icon},
		    permission = #{permission}	    
	    where id = #{id}
	</update>
	
<select id="findZtreeEntity" resultType="com.liyang.module.authc.ZtreeEntity" >
		SELECT
			name,parent_id pId, id  
		FROM T_MENU a
	</select>
	
</mapper>