<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyang.webadmin.persistence.mapper.RoleMapper">
	
	
	<select id="findAll" resultType="role" >
		SELECT
			*
		FROM T_ROLE a
	</select>
	
	<insert id="save">
	    insert into T_ROLE 
	    (id,name)
	    values
	    (#{id}, #{name})
	</insert>
	
	<delete id="delete">
	     delete from T_ROLE
	     where 
	     id=#{0}
	</delete>
	
	<update id="update">
	    update T_ROLE set 
		    name = #{name} 
	    where id = #{id}
	</update>
	
	<select id="findById" resultType="role" >
		SELECT
			*
		FROM T_ROLE a where id=#{0}
	</select>
	
	
	<delete id="clearRoleMenu">
	   delete from T_ROLE_MENU where role_id=#{0}
	</delete>
	
	
	<insert id="saveRoleMenu">
	   insert T_ROLE_MENU 
	   (role_id, menu_id)
	   values
	   (#{0}, #{1})
	</insert>
	
	<select id="findMenusByRole" resultType="string" >
		SELECT
			menu_id
		FROM T_ROLE_MENU a where role_id=#{0}
	</select>

	
</mapper>